<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- Contenedor blanco centrado -->
<div class="bg-white max-w-6xl mx-auto my-8 p-8 rounded-lg shadow-lg">
  
  <!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
  <!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
  <main class="wp-block-group">
      <!-- wp:woocommerce/store-notices /-->
      <!-- wp:post-title {"align":"wide", "level":1} /-->
      <!-- wp:post-content {"align":"wide"} /-->
  </main>
  <!-- /wp:group -->
  <!-- /wp:woocommerce/page-content-wrapper -->

</div>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
